<main>
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Cadastrar Informações</h1>
            <form action="/cadastrar" method="post" enctype="multipart/form-data">
                <img src="/images/user.jpg" />
                <h1>Página do professor Evandro Diniz</h1>
                <p>Professor EBTT nas disciplinas de informática.</p>
                <p>Instituto Federal do Maranhão.</p>
            </form>
        </div>
    </div>
</main>