<main class="oiii">
    <div class="container">
        <div class="form-image">
            <img src="/images/undraw_house-searching_g2b8.svg" alt="">
        </div>
        <div class="form">
            <form action="/cadastro" method="post" enctype="multipart/form-data">
                <div class="form-header">
                    <div class="title">
                        <h8>Cadastre-se</h8>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="nome">Nome do imóvel</label>
                        <input id="" type="text" name="nome" placeholder="Nome do imóvel" required>
                    </div>

                    <div class="input-box">
                        <label for="carac">Características </label>
                        <input id="" type="text" name="carac" placeholder="Características do imóvel" required>
                    </div>
                    <div class="input-box">
                        <label for="valor">Valor</label>
                        <input id="" type="number" name="valor" placeholder="Digite o valor do imóvel" required>
                    </div>

                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="" type="text" name="number" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="cep">CEP</label>
                        <input id="" type="text" name="cep" placeholder="_ _ _ _ _-_ _ _" required>
                    </div>


                    <div class="input-box">
                        <label for="imagens">Seleciones fotos do imóvel</label>
                        <input type="file" name="imagens" id="" class="form-control" required>
                    </div>

                </div>

                <div class="modalidade-inputs">
                    <div class="input-box">
                        <label for="modalidade"> Modalidade do imoveo</label>
                        <input id="" type="text" name="modalidade" placeholder=" Alugar ou vender" required>
                </div>
                </div>

                <div class="continue-button">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
</main>